html, body, #map-canvas {
    height: 800px;
    width: 800px
}

.panel {
    position: absolute;    
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

#button-panel {
    top: 10px;
    left: 175px;
    
}

#slider-panel {
    top: 700px;
    left: 300px;
}

input[name=slider]{
    width: 100%;
}

#frameLabel {
    display: table;
    margin: 0 auto;
}

#speedSelection {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}